#master-page {
	min-width: 10px;
}

#site-root {
	width: 100vw;
	min-width: 100vw;
}

#c1dmp  {
	width: 100vw;
}

:root {
	--site-width: 980px;
}

@media screen and (max-width: 980px) {
	:root {
		--site-width: 100vw; !important
	}
}